certifi==2021.10.8
charset-normalizer==2.0.12
heroku==0.1.4
idna==3.3
pyTelegramBotAPI==4.5.1
python-dateutil==1.5
requests==2.27.1
schedule==1.1.0
urllib3==1.26.9

pip~=21.2.4
six~=1.16.0
telebot~=0.0.4
setuptools~=58.1.0